__pycache__

# Other compiler crap
*.d
*.lss
*.map
*.sym

# Object files
*.o
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Executables
*.out
*.hex

tags

*-bak
*.bak
*.raw
*.net
*.log
*.ps
*.old

Thumbs.db
*.swp

# LaTeX ignores
~\$*
*.log
*.raw
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.make
*.d
*.fls
*.temp
*-converted-to.pdf
*.mtc0
*.ptc
