# Other compiler crap
*.d
*.lss
*.map
*.sym

# Object files
*.o
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Executables
*.out
*.hex

tags

*-bak
*.bak
*.raw
*.net
*.log
*.ps
*.old
